div{
	height: 300px;
	width: 800px;
}
.a{
	height: 300px;
	width: 200px;
	background-color: hotpink;
	float: left;
	margin-left: 70px;
	
}
.b{
	height: 300px;
	width: 300px;
	background-color: skyblue;
	float: left;
	margin-left: 100px;
}
.c{
	height: 300px;
	width: 100px;
	background-color: purple;
	float: right;
	margin-left: 30px;
}